spring:
  application:
    name: rifa-system

  # Database PostgreSQL
  datasource:
    url: jdbc:postgresql://localhost:5432/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver


  # JPA/Hibernate
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: true

  # Flyway Migrations
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    validate-on-migrate: true

  # Redis
  data:
    redis:
      host: localhost
      port: 6379
      password: ${REDIS_PASSWORD:}
      timeout: 60000
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

  # Jackson (JSON)
  jackson:
    serialization:
      write-dates-as-timestamps: false
      indent-output: true
    time-zone: America/Sao_Paulo
    default-property-inclusion: non_null
    deserialization:
      fail-on-unknown-properties: false
  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 5MB
      file-size-threshold: 2KB
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
        transport:
          protocol: smtp

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME:seu_cloud_name}
  api-key: ${CLOUDINARY_API_KEY:sua_api_key}
  api-secret: ${CLOUDINARY_API_SECRET:seu_api_secret}

# Server
server:
  port: 8080

app:
  upload:
    dir: uploads/rifas
    max-size: 5242880 # 5MB em bytes
    allowed-types: image/jpeg,image/png,image/webp,image/jpg
  jwt:
    secret: ${JWT_SECRET}
    expiration: 3600000
  cors:
    allowed-origins: ${alguma-coisa}
  mercadopago:
    # Obter em: https://www.mercadopago.com.br/developers/panel/app
    access-token: ${MERCADOPAGO_ACCESS_TOKEN:}
    public-key: ${MERCADOPAGO_PUBLIC_KEY:}
    webhook-secret: ${MERCADOPAGO_WEBHOOK_SECRET:}
    api-url: https://api.mercadopago.com
    notification-url: ${MERCADOPAGO_NOTIFICATION_URL:}
    pagamento:
      pix:
        expiracao-minutos: 15
        taxa-percentual: 0.99
